{% extends "core/base.html" %}
{% load static %}

{% block css %}
<style>
    body {
    padding-top: 54px;
    }

    @media (min-width: 992px) {
        body {
            padding-top: 56px;
        }
    }
</style>
{% endblock css %}


{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'index' %}">Home
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'suggest' %}">Suggest
    </a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'feedback' %}">Feedback
        <span class="sr-only">(current)</span>
    </a>
</li>
{% endblock navbar %}



{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center mt-5 mb-5">
            <h1 class="mt-5">Help us make this better!</h1>
            <p class="lead">Share with us your experience or how we can improve</p>
        </div>
    </div>
</div>

<!-- Form -->
<div class="container">
    <div class="col-xl-9 col-lg-9 mx-auto">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="feedback_name">Name</label>
                <input type="text" class="form-control form-control-lg" id="feedback_name" name="feedback_name" value="">
            </div>
            <div class="form-group col-md-6">
                <label for="feedback_dept">Department</label>
                <input type="text" class="form-control form-control-lg" id="feedback_dept" name="feedback_dept" value="">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="feedback_text">Feedback</label>
                <textarea class="form-control form-control-lg" id="feedback_text" name="feedback_text" rows="5"></textarea>
            </div>
        </div>
        <small class="form-text text-success" id="feedback_success"></small>
        <small class="form-text text-danger" id="feedback_error"></small>
        <button type="submit" class="btn btn-primary btn-feedback-submit btn-block btn-lg mt-3 mb-5 float-right">Submit</button>
    </div>
</div>
{% endblock %}


{% block js %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
    var csrftoken = Cookies.get('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $('.btn-feedback-submit').click(function () {
        $.ajax({
            url: '{% url 'feedback' %}',
            type: "POST",
            data: {
                feedback_name: $('#feedback_name').val(),
                feedback_dept: $('#feedback_dept').val(),
                feedback_text: $('#feedback_text').val(),
            },
            success: function () {
                $('#feedback_text').val('');
                $('#feedback_error').html('');
                $('#feedback_success').html('Your response has been recorded!');
            },
            error: function () {
                $('#feedback_success').html('');
                $('#feedback_error').html('An error has occurred');
            }
        });
    });
</script>
{% endblock js %}